.manual-add-outer-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 4px;
}

.manual-add-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.manual-add-input {
  width: calc(75% - 12px);
  height: 46px;
  border: none;
  font-size: 15px;
  font-weight: 500;
  padding: 0 16px;
  outline: none;
  border-radius: 6px;
  background-color: var(--ethereum-identity-kit-neutral-light);
}

.manual-add-input::placeholder {
  color: var(--ethereum-identity-kit-text-secondary);
}

.dark .manual-add-input {
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
  color: var(--ethereum-identity-kit-text-primary-dark);
}

.dark .manual-add-input::placeholder {
  color: var(--ethereum-identity-kit-text-secondary-dark);
}

.manual-add-button {
  width: 25%;
  height: 46px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 6px;
  color: var(--ethereum-identity-kit-text-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--ethereum-identity-kit-primary);
}

.manual-add-error {
  width: 100%;
  padding: 0px 12px;
  color: var(--ethereum-identity-kit-error);
  font-size: 14px;
  font-weight: 500;
}

.manual-add-loader {
  width: 24px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, var(--ethereum-identity-kit-text-secondary) 94%, #0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%, var(--ethereum-identity-kit-text-secondary));
  mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 4px), #000 0);
  animation: manual-add-spin 1s infinite linear;
}

@keyframes manual-add-spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
