.common-followers-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1000;
  justify-content: center;
  padding: 16px 10px;
  overflow-y: auto;
  box-sizing: border-box;
  background-color: var(--ethereum-identity-kit-background-overlay);
}

.common-followers-modal-backdrop * {
  box-sizing: border-box;
}

.common-followers-modal-container {
  width: 100%;
  max-width: 660px;
  box-sizing: border-box;
  background-color: var(--ethereum-identity-kit-background);
  color: var(--ethereum-identity-kit-text-primary);
  border-radius: 4px;
  padding: 24px 16px 16px 16px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.dark .common-followers-modal-container {
  background-color: var(--ethereum-identity-kit-background-dark);
  color: var(--ethereum-identity-kit-text-primary-dark);
}

.common-followers-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.common-followers-modal-title {
  font-size: 24px;
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.common-followers-modal-close-button {
  cursor: pointer;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.dark .common-followers-modal-close-button {
  color: var(--ethereum-identity-kit-text-primary-dark);
}

.common-followers-modal-close-button:hover {
  scale: 1.1;
  opacity: 0.8;
}

.common-followers-modal-list-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  background-color: var(--ethereum-identity-kit-neutral-light);
  border-radius: 4px;
}

.dark .common-followers-modal-list-container {
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
}

@media screen and (max-width: 640px) {
  .common-followers-modal-container {
    padding: 12px 8px 8px 8px;
    gap: 12px;
  }

  .common-followers-modal-header {
    padding: 12px;
  }

  .common-followers-modal-title {
    font-size: 20px;
  }

  .common-followers-modal-list-container {
    padding: 12px 2px;
  }
}
