.follow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  min-width: 110px;
  padding: 0 8px;
  height: 39px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 700;
  color: #27272a;
  cursor: pointer;
  position: relative;
  border: 3px solid transparent;
  transition: all 200ms ease-in-out;
}

/* Add :not(.disable-hover) before :hover */
.follow-button:not(.disable-hover):hover {
  transform: scale(1.1);
}

.follow-button:disabled {
  cursor: not-allowed;
  transform: none;
}

.follow-button-follow {
  background-color: #ffe066;
  text-align: center;
  background-size: 300% auto;
  transition: all 0.3s;
  border-radius: 6px;
  border: none;
}

/* Add :not(.disable-hover) before :hover */
.follow-button-follow:not(.disable-hover):hover {
  background-color: #fde583;
  transition: all 0.3s;
}

.follow-button-pending,
.follow-button-following {
  background-color: #ffffff;
  border: 3px solid #ffe066;
}

/* Add :not(.disable-hover) before :hover */
.follow-button-following:not(.disable-hover):hover,
.follow-button-pending:not(.disable-hover):hover {
  border-color: transparent;
  background: #d0d0d0;
  padding: 6px 10px;
}

.follow-button-block,
.follow-button-unfollow,
.follow-button-muted,
.follow-button-unblock,
.follow-button-unmute {
  border-color: transparent;
  background: #ff7c7c;
}

/* Add :not(.disable-hover) before :hover */
.follow-button-unfollow:not(.disable-hover):hover,
.follow-button-block:not(.disable-hover):hover,
.follow-button-unblock:not(.disable-hover):hover,
.follow-button-muted:not(.disable-hover):hover,
.follow-button-unmute:not(.disable-hover):hover {
  border-color: transparent;
  background: #cf4c4c;
}

/* Add :not(.disable-hover) before :hover */
.follow-button-muted:not(.disable-hover):hover,
.follow-button-mute-pending:not(.disable-hover):hover,
.follow-button-blocked:not(.disable-hover):hover,
.follow-button-unblock-pending:not(.disable-hover):hover,
.follow-button-unmute-pending:not(.disable-hover):hover {
  border-color: transparent;
  background: #ffc6c6;
}

.follow-button-blocked,
.follow-button-block-pending,
.follow-button-muted,
.follow-button-mute-pending {
  background: white;
  border-color: #ef4444;
  color: #ef4444;
}

.pending:after {
  background: #4ade80;
  height: 12px;
  width: 12px;
  border-radius: 100%;
  position: absolute;
  content: '';
  display: block;
  top: -6px;
  right: -6px;
}
