.follow-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  min-width: 110px;
  padding: 0 8px;
  height: 39px;
  border-radius: 11px;
  font-size: 14px;
  font-weight: 700;
  color: #27272a;
  cursor: pointer;
  position: relative;
  border: 3px solid transparent;
  transition: all 200ms ease-in-out;
}

.follow-button:hover {
  transform: scale(1.1);
}

.follow-button:disabled {
  cursor: not-allowed;
  transform: none;
}

.follow-button-follow {
  background: linear-gradient(to right, #ffe066 0%, #ffe066 33%, #fff981 75%, #ffafde 100%);
  text-align: center;
  background-size: 300% auto;
  transition: all 0.3s;
  border-radius: 10px;
  border: none;
}

.follow-button-follow:hover {
  background-position: right center;
  transition: all 0.3s;
}

.follow-button-following {
  background:
    linear-gradient(#fafafa, #fafafa) padding-box,
    linear-gradient(135deg, #faf35f, #ffbce3) border-box;
}

.follow-button-following:hover {
  border-color: transparent;
  background: #d0d0d0;
  padding: 6px 10px;
}

.follow-button-block,
.follow-button-unfollow,
.follow-button-muted,
.follow-button-unblock,
.follow-button-unmute {
  border-color: transparent;
  background: #ff7c7c;
}

.follow-button-unfollow:hover,
.follow-button-block:hover,
.follow-button-unblock:hover,
.follow-button-muted:hover,
.follow-button-unmute:hover {
  border-color: transparent;
  background: #cf4c4c;
}

.follow-button-muted:hover,
.follow-button-blocked:hover {
  border-color: transparent;
  background: #ffc6c6;
}

.follow-button-blocked,
.follow-button-muted {
  background: white;
  border-color: #ef4444;
  color: #ef4444;
}
