.user-profile-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 0;
  margin: 0;
}

.dark .user-profile-container {
  color: var(--ethereum-identity-kit-text-primary-dark);
}

.full-width-profile-container {
  width: 100%;
  height: fit-content;
}

.user-profile-container a {
  text-decoration: none;
}

.user-profile-card-container {
  width: 100%;
  height: fit-content;
  display: none;
}

@media (max-width: 768px) {
  .full-width-profile-container {
    display: none;
  }

  .user-profile-card-container {
    display: block;
  }
}

.user-profile-container * {
  box-sizing: border-box;
}

.user-profile {
  width: 100%;
  max-width: 1920px;
  position: relative;
}

.user-profile-header-container {
  width: 100%;
  height: 100%;
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--ethereum-identity-kit-background);
}

.user-profile-header-container-ultra-wide {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: var(--ethereum-identity-kit-background);
}

.dark .user-profile-header-container,
.dark .user-profile-header-container-ultra-wide {
  background-color: var(--ethereum-identity-kit-background-dark);
}

@media (max-width: 1750px) {
  .user-profile-header-container {
    display: block;
  }
  .user-profile-header-container-ultra-wide {
    width: 100vw;
    height: 100%;
    position: absolute;
    display: none;
  }
}

.user-profile-role {
  position: absolute;
  top: 16px;
  left: 32px;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  font-style: italic;
}

.dark .user-profile-role {
  color: var(--ethereum-identity-kit-text-primary-dark);
}

.user-profile-status-container {
  position: absolute;
  right: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  z-index: 10;
}

.user-profile-status-desktop {
  background-color: var(--ethereum-identity-kit-neutral-light);
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: var(--ethereum-identity-kit-shadow-small);
  max-width: 374px;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-style: italic;
  display: flex;
  z-index: 100;
  margin: 0;
}

.user-profile-status-mobile {
  display: none;
  width: fit-content;
  background-color: var(--ethereum-identity-kit-neutral-light);
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: var(--ethereum-identity-kit-shadow-small);
  max-width: 90%;
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  z-index: 10;
  margin: 0;
}

.dark .user-profile-status-mobile,
.dark .user-profile-status-desktop {
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
  color: var(--ethereum-identity-kit-text-primary-dark);
}

.user-profile-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 16px;
  z-index: 200;
  padding: 52px 32px;
}

.user-profile-avatar-container {
  height: 125px !important;
  width: 125px !important;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  transition: all 0.2s;
}

@media screen and (max-width: 1536px) {
  .user-profile-avatar-container {
    width: 100px !important;
    height: 100px !important;
  }
}

@media screen and (max-width: 1280px) {
  .user-profile-content {
    padding: 48px 16px;
  }

  .user-profile-role {
    left: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .user-profile-avatar-container {
    width: 90px !important;
    height: 90px !important;
  }
}

.user-profile-common-followers-container {
  max-width: 400px;
  z-index: 20;
}

.user-profile-avatar-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.user-profile-details {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: calc(100% - 125px);
}

.user-profile-name-container {
  display: flex;
  width: 100%;
  gap: 12px;
  align-items: center;
  padding: 10px 0 0 0;
  margin: 0;
}

.user-profile-name {
  max-width: calc(100% - 125px);
  font-size: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: 1.1;
  color: var(--ethereum-identity-kit-text-primary);
  font-weight: 700;
  text-decoration: none;
  transition: all 0.2s;
  padding: 0;
  margin: 0;
}

.dark .user-profile-name {
  color: var(--ethereum-identity-kit-text-primary-dark);
}

.user-profile-name:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.user-profile-edit-profile-button {
  background-color: #0080bc;
  color: white;
  border-radius: 4px;
  padding: 8px 6px;
  display: flex;
  align-items: center;
  gap: 4px;
  border: none;
  transition: all 0.2s;
}

.user-profile-edit-profile-button p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-weight: 600;
}

.user-profile-edit-profile-button:hover {
  cursor: pointer;
  transform: scale(1.1);
  background-color: #07a9f5;
}

.user-profile-stats-container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.user-profile-desktop-common-followers-container {
  display: flex;
  padding: 0;
  margin: 0;
}

.user-profile-mobile-common-followers-container {
  display: none;
}

.user-profile-bio-container {
  max-width: 50%;
  font-size: 20px;
  margin-bottom: 4px;
}

.user-profile-error-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 384px;
  padding-bottom: 80px;
  background-color: #eee;
}

.user-profile-error-container.dark,
.dark .user-profile-error-container {
  background-color: #333;
}

.user-profile-error-text {
  font-size: 24px;
  font-weight: 600;
  font-style: italic;
  color: #333;
}

.dark .user-profile-error-text {
  color: #fff;
}

@media (max-width: 1024px) {
  .user-profile-status-desktop {
    display: none;
  }

  .user-profile-status-mobile {
    display: flex;
  }

  .user-profile-desktop-common-followers-container {
    display: none;
  }

  .user-profile-mobile-common-followers-container {
    display: flex;
  }

  .user-profile-bio-container {
    max-width: 75%;
    font-size: 16px;
  }
}

.more-options {
  position: absolute;
  top: 18px;
  right: 32px;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0;
  height: 28px;
  justify-content: flex-end;
}

.more-options-not-confirmed-container {
  cursor: help;
  z-index: 100;
  position: relative;
  margin: 0;
  padding: 0;
}

.more-options-not-confirmed-text {
  font-size: 12px;
  color: oklch(80.8% 0.114 19.571);
  background-color: #eee;
  padding: 6px 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: help;
  z-index: 10;
  font-weight: 600;
  margin: 0;
  position: relative;
  font-style: italic;
}

.dark .more-options-not-confirmed-text {
  background-color: #666;
  margin: 0;
  box-shadow: 2px 2px 5px 0 rgba(255, 255, 255, 0.2);
}

.more-options-not-confirmed-tooltip {
  background-color: #eee;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: help;
  z-index: 1000;
  position: absolute;
  top: 36px;
  right: -50%;
  width: 272px;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  font-style: italic;
}

.dark .more-options-not-confirmed-tooltip {
  background-color: #555;
  color: #fff;
  box-shadow: 2px 2px 5px 0 rgba(255, 255, 255, 0.2);
}

.more-options-not-confirmed-container:hover .more-options-not-confirmed-tooltip {
  display: block !important;
}

.more-options-list-number {
  background-color: #eee;
  padding: 5px 6px;
  margin: 0;
  border-radius: 4px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 600;
  font-size: 14px;
  transition: all 0.2s;
}

.dark .more-options-list-number {
  background-color: #555;
  color: #fff;
  box-shadow: 2px 2px 5px 0 rgba(255, 255, 255, 0.2);
}

.more-options-list-number:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.more-options-refresh-button {
  background-color: #eee;
  height: 28px;
  width: 28px;
  border-radius: 4px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  transition: all 0.2s;
}

.dark .more-options-refresh-button {
  background-color: #555;
  color: #fff;
  box-shadow: 2px 2px 5px 0 rgba(255, 255, 255, 0.2);
}

.more-options-refresh-button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.profile-stats-label {
  font-size: 18px;
  font-weight: 600;
  color: #666;
}

.dark .profile-stats-label {
  color: #ddd !important;
}
