.recommended-container {
  width: 100%;
  padding: 3px 4px 12px 4px;
  border-radius: 6px;
  background-color: #f4f4f4;
  margin-bottom: 10px;
}

.dark .recommended-container {
  background-color: #444444;
}

.recommended-load-more {
  height: 10px;
  width: 100%;
}

.recommended-title {
  font-size: 22px;
  font-weight: 600;
  padding: 12px 0px 12px 12px;
}
