.transaction-steps-container {
  position: absolute;
  top: 62px;
  left: 0;
  display: flex;
  width: 440px;
  align-items: center;
  justify-content: center;
}

.transaction-steps {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.transaction-step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--ethereum-identity-kit-neutral-light);
  color: var(--ethereum-identity-kit-text-primary);
  position: relative;
}

.dark .transaction-step {
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
}

.transaction-step:after {
  content: '';
  position: absolute;
  top: 14px;
  left: -24px;
  width: 24px;
  height: 3px;
  background-color: var(--ethereum-identity-kit-neutral-light);
}

.dark .transaction-step:after {
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
}

.no-line:after {
  display: none;
}

.transaction-step-current,
.transaction-step-current:after {
  background-color: var(--ethereum-identity-kit-primary) !important;
}

.transaction-step-pending,
.transaction-step-pending:after {
  background-color: var(--ethereum-identity-kit-primary) !important;
}

.transaction-step-done,
.transaction-step-done:after {
  background-color: var(--ethereum-identity-kit-success) !important;
}

.transaction-step-error,
.transaction-step-error:after {
  background-color: var(--ethereum-identity-kit-error) !important;
}

@media screen and (max-width: 600px) {
  .transaction-steps-container {
    width: 100vw;
    padding: 0 10px;
    left: 0;
  }
}
