.common-followers-container {
  width: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding: 2px 0px;
}

.common-followers-avatars-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.common-followers-text-container {
  width: fit-content;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
  padding-top: 4px;
  padding-bottom: 2px;
  text-align: left;
  color: var(--ethereum-identity-kit-text-neutral);
  margin: 0;
  transition: all 0.2s ease;
}

.common-followers-ending-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  line-height: 1.2;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 14px;
  font-weight: 500;
  color: var(--ethereum-identity-kit-text-neutral);
}

.common-followers-text-container[enable-hover='true']:hover {
  cursor: pointer;
  scale: 1.05;
}

.dark .common-followers-text-container {
  color: var(--ethereum-identity-kit-text-neutral-dark);
}

.dark .common-followers-ending-text {
  color: var(--ethereum-identity-kit-text-neutral-dark);
}

.common-followers-name {
  cursor: pointer;
}

.common-followers-name:hover {
  text-decoration: underline;
}
