/* .loading-cell-container {
  overflow: hidden;
} */

.loading-cell {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-size: 400% 100%;
  animation: loading-gradient 5s linear infinite forwards;
}

@keyframes loading-gradient {
  0% {
    background-position: 200% 0;
  }
  50% {
    background-position: 0% 0;
  }
  100% {
    background-position: -200% 0;
  }
}