.follower-tag {
  font-size: 10px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  height: 20px;
  padding: 0px 6px !important;
  border-radius: 4px;
  background-color: var(--ethereum-identity-kit-neutral-light);
  width: fit-content;
}

.follower-tag-blocks {
  color: var(--ethereum-identity-kit-deletion);
}

.follower-tag-mutes {
  color: var(--ethereum-identity-kit-deletion);
}

.follower-tag-follows {
  color: var(--ethereum-identity-kit-text-primary);
}

.follower-tag-none {
  display: none;
}
