.table-header {
  background-color: var(--ethereum-identity-kit-neutral);
  box-shadow: var(--ethereum-identity-kit-shadow-medium);
  z-index: 100;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 8px 16px 8px 8px;
}

.dark .table-header {
  color: var(--ethereum-identity-kit-text-primary-dark);
  background-color: var(--ethereum-identity-kit-neutral-dark);
  box-shadow: var(--ethereum-identity-kit-shadow-medium-dark);
}

.header-content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.header-main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

@media (min-width: 640px) {
  .header-main {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.tab-switcher {
  background-color: var(--grey);
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  border-radius: 4px;
  height: 44px;
}

@media (min-width: 640px) {
  .tab-switcher {
    width: fit-content;
  }
}

.tab-indicator {
  background-color: var(--ethereum-identity-kit-text-neutral);
  opacity: 0.1;
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: 4px;
  transition: all 200ms;
}

.dark .tab-indicator {
  background-color: var(--ethereum-identity-kit-text-neutral-dark);
}

@media (min-width: 640px) {
  .tab-indicator {
    width: 128px;
  }

  .tab-indicator.tab-indicator-wide {
    width: 180px;
  }
}

.tab-indicator.following {
  left: 0;
}

.tab-indicator.followers {
  left: 50%;
}

@media (min-width: 640px) {
  .tab-indicator.followers {
    left: 128px;
  }

  .tab-indicator.followers.tab-indicator-wide {
    left: 180px;
  }
}

.tab-button {
  z-index: 10;
  width: 50%;
  cursor: pointer;
  padding: 10px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  transition: transform 0.2s;
  margin: 0;
}

.tab-button:hover {
  transform: scale(1.1);
}

@media (min-width: 640px) {
  .tab-button {
    width: 128px;
  }

  .tab-button.tab-button-wide {
    width: 180px;
  }
}

.tab-button.inactive {
  opacity: 0.6;
}

.actions-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
  z-index: 10;
}

@media (min-width: 640px) {
  .actions-container {
    justify-content: flex-end;
  }
}

.search-container {
  position: relative;
  z-index: 50;
  display: flex;
  gap: 4px;
  padding-right: 10px;
}

@media (min-width: 640px) {
  .search-container {
    gap: 12px;
  }
}

.search-trigger {
  display: flex;
  height: 36px;
  max-width: 10rem;
  cursor: pointer;
  align-items: center;
  gap: 12px;
}

.search-icon {
  height: 28px;
  width: 28px;
  transition: transform 0.2s;
}

.search-icon:hover {
  transform: scale(1.1);
}

.search-text {
  font-size: 14px;
  font-weight: 500;
}

.search-clear {
  height: 16px;
  padding-top: 1px;
  margin-left: -2px;
  width: auto;
  cursor: pointer;
  transition: all 0.2s;
}

.search-clear:hover {
  transform: scale(1.25);
  opacity: 0.6;
}

.search-input {
  background-color: var(--ethereum-identity-kit-neutral-light-hover);
  position: absolute;
  top: -2px;
  left: 32px;
  z-index: 50;
  display: block;
  outline: none;
  width: 194px;
  border-radius: 4px;
  border: none;
  padding: 10px 4px 10px 12px;
  font-size: 15px;
  font-weight: 500;
  box-shadow: var(--ethereum-identity-kit-shadow-small);
}

.dark .search-input {
  color: var(--ethereum-identity-kit-text-primary-dark);
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
}

@media (max-width: 640px) {
  .search-input {
    top: -2px;
    right: -8px;
  }
}

.actions-right {
  display: flex;
  align-items: center;
  gap: 12px;
}

@media (min-width: 640px) {
  .actions-right {
    gap: 16px;
  }
}

.tag-toggle {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 4px;
  transition: transform 0.2s;
}

.tag-toggle:hover {
  transform: scale(1.1);
}

@media (min-width: 640px) {
  .tag-toggle {
    gap: 2px;
  }
}

.tag-icon {
  height: auto;
  width: 22px;
}

.arrow-icon {
  height: auto;
  width: 16px;
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.arrow-icon.rotated {
  transform: rotate(0deg);
}

.sort-container {
  position: relative;
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 4px;
}

.sort-trigger {
  display: flex;
  align-items: center;
  gap: 4px;
  transition: transform 0.2s;
}

.sort-trigger:hover {
  transform: scale(1.1);
}

.sort-text {
  font-weight: 600;
  text-transform: capitalize;
  margin: 0;
}

.sort-dropdown {
  background-color: var(--ethereum-identity-kit-neutral);
  box-shadow: var(--ethereum-identity-kit-shadow-small);
  position: absolute;
  top: 120%;
  right: -8px;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  border-radius: 4px;
  padding: 4px;
}

.dark .sort-dropdown {
  background-color: var(--ethereum-identity-kit-neutral-dark);
  box-shadow: var(--ethereum-identity-kit-shadow-small-dark);
}

.sort-option {
  position: relative;
  width: 100%;
  border-radius: 4px;
  padding: 12px;
  padding-left: 28px;
  font-weight: bold;
  white-space: nowrap;
  text-transform: capitalize;
  transition: background-color 0.2s;
}

.sort-option p {
  font-size: 16px;
  margin: 0;
  padding: 0;
}

.sort-option:hover {
  background-color: var(--ethereum-identity-kit-neutral-light-hover);
}

.dark .sort-option:hover {
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
}

.check-icon {
  position: absolute;
  top: 11px;
  left: 6px;
  height: auto;
  width: 1rem;
}

.no-tags {
  color: var(--ethereum-identity-kit-text-neutral);
  opacity: 0.8;
  width: 100%;
  margin: 0;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.no-tags p {
  margin: 0;
  padding: 0;
}

.dark .no-tags {
  opacity: 0.8;
  color: var(--ethereum-identity-kit-text-neutral-dark);
}

.tags-container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 4px;
}

.tag-button {
  display: flex;
  max-width: 33%;
  align-items: center;
  gap: 6px;
  border-radius: 4px;
  padding: 10px 14px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  transition: transform 0.2s;
}

.tag-button p {
  margin: 0;
  padding: 0;
}

.tag-button:hover {
  transform: scale(1.1);
}

.tag-button.selected {
  color: var(--ethereum-identity-kit-text-neutral);
  background-color: rgb(250, 250, 250);
  box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, 0.1);
}

/* .dark .tag-button.selected {
  color: var(--ethereum-identity-kit-text-neutral-dark);
  background-color: var(--ethereum-identity-kit-neutral-dark);
  box-shadow: inset 0 0 4px 1px rgba(255, 255, 255, 0.2);
} */

.tag-button:not(.selected) {
  background-color: rgba(212, 212, 216, 0.8);
  color: rgb(161, 161, 170);
}

.dark .tag-button:not(.selected) {
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
  color: var(--ethereum-identity-kit-text-neutral-dark);
}

.tag-name {
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tag-count {
  color: var(--dark-grey);
  opacity: 0.7;
}
