.profile-socials {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  width: fit-content;
  box-sizing: border-box;
}

.profile-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 4px;
  padding-left: 6px;
  height: 24px;
  border-radius: 4px;
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  background-color: #eee;
  box-sizing: border-box;
  transition:
    opacity 0.2s ease,
    scale 0.2s ease;
}

.dark .profile-link {
  background-color: #666;
}

.profile-link p {
  max-width: calc(100% - 18px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-link {
  color: rgb(0, 89, 255);
}

.dark .profile-link {
  color: rgb(96 165 250);
}

.profile-link:hover {
  opacity: 0.8;
  scale: 1.1;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-link {
  opacity: 1;
  color: #000;
  transition:
    opacity 0.2s ease,
    scale 0.2s ease;
}

.dark .social-link {
  color: #fff;
}

.social-link[aria-disabled='true'] {
  opacity: 0.4;
  pointer-events: none;
}

.social-link:hover {
  opacity: 0.8;
  scale: 1.1;
}

.social-icon {
  border-radius: 50%;
  color: inherit;
}

.dark .social-icon {
  display: none;
}

.social-icon-dark {
  display: none;
}

.dark .social-icon-dark {
  display: block;
}
