.profile-socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.profile-links-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.profile-link {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 0px 8px;
  max-width: 180px;
  height: 24px;
  border-radius: 16px;
  color: inherit;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  background-color: #8883;
  transition:
    opacity 0.2s ease,
    scale 0.2s ease;
}

.profile-link p {
  max-width: calc(100% - 18px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-link-dark {
  background-color: #71717a;
}

.profile-link-light {
  background-color: #e4e4e7;
}

.profile-link-dark .profile-link-text {
  color: rgb(96 165 250);
}

.profile-link-light .profile-link-text {
  color: rgb(0, 89, 255);
}

.profile-link:hover {
  opacity: 0.8;
  scale: 1.1;
}

.socials-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.social-link {
  opacity: 1;
  transition:
    opacity 0.2s ease,
    scale 0.2s ease;
}

.social-link[aria-disabled='true'] {
  opacity: 0.4;
  pointer-events: none;
}

.social-link:hover {
  opacity: 0.8;
  scale: 1.1;
}

.social-icon {
  border-radius: 50%;
  color: inherit;
}
