.image-with-fallback {
  width: 100%;
  height: 100%;
}

[image-loaded="false"] {
  background: linear-gradient(90deg, rgba(200, 200, 200, 0.7) 0%, rgba(172, 172, 172, 0.05) 50%, rgba(200, 200, 200, 0.7) 100%);
  background-size: 400%;
  animation: loading-gradient 5s ease-in-out infinite forwards;
}

[image-loaded="true"] {
  background: none;
  animation: none;
}