.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 440px;
  gap: 24px;
  position: relative;
  padding: 20px;
}

.summary-title {
  font-size: 22px;
  font-weight: 700;
}

.summary-items-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.summary-item-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.summary-item-chain-container {
  display: flex;
  align-items: center;
  gap: 3px;
  font-size: 16px;
  font-weight: 600;
  color: var(--ethereum-identity-kit-text-secondary);
  padding-left: 12px;
}

.dark .summary-item-chain-container {
  color: var(--ethereum-identity-kit-text-secondary-dark);
}

.summary-item-chain-container p {
  margin-right: 4px;
}

.summary-item-chain-name {
  font-size: 16px;
  color: var(--ethereum-identity-kit-text-primary);
}

.dark .summary-item-chain-name {
  color: var(--ethereum-identity-kit-text-primary-dark);
}

.summary-item-change-chain {
  font-size: 12px;
  font-weight: 500;
  color: var(--ethereum-identity-kit-text-secondary);
  cursor: pointer;
  position: absolute;
  right: 26px;
}

.dark .summary-item-change-chain {
  color: var(--ethereum-identity-kit-text-secondary-dark);
}

.summary-item-change-chain:hover {
  opacity: 0.7;
}

.summary-item-transaction-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  background-color: var(--ethereum-identity-kit-neutral-light);
}

.dark .summary-item-transaction-container {
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
}

.summary-item-transaction-title {
  font-size: 16px;
  font-weight: 600;
}

.summary-item-transaction-description {
  font-size: 12px;
  font-weight: 400;
  color: var(--ethereum-identity-kit-text-secondary);
  max-width: 66%;
  text-align: right;
}

.dark .summary-item-transaction-description {
  color: var(--ethereum-identity-kit-text-secondary-dark);
}

.transaction-modal-confirm-button {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .summary-container {
    width: 100vw;
    padding: 20px 10px 12px 10px;
  }

  .transaction-modal-confirm-button {
    width: calc(100vw - 20px) !important;
  }
}
