.summary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  gap: 24px;
  position: relative;
  padding: 20px;
}

.summary-title {
  font-size: 22px;
  font-weight: 700;
}

.summary-items-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.summary-item-container {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.summary-item-chain-container {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 16px;
  font-weight: 600;
  color: #888;
  padding-left: 12px;
}

.summary-item-chain-container p {
  margin-right: 4px;
}

.summary-item-chain-name {
  font-size: 16px;
  color: #000;
}

.summary-item-transaction-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  width: calc(100% - 24px);
  padding: 12px;
  border-radius: 4px;
  background-color: #f5f5f5;
}

.summary-item-transaction-title {
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

.summary-item-transaction-description {
  font-size: 12px;
  font-weight: 400;
  color: #888;
  max-width: 66%;
  text-align: right;
}
