.image-with-fallback {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

[image-loaded='false'] {
  background: linear-gradient(
    90deg,
    var(--ethereum-identity-kit-neutral-light) 0%,
    var(--ethereum-identity-kit-neutral-hover) 50%,
    var(--ethereum-identity-kit-neutral-light) 100%
  );
  background-size: 400%;
  animation: loading-gradient 5s ease-in-out infinite forwards;
}

[image-loaded='true'] {
  background: none;
  animation: none;
}
