.cancel-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10000000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--ethereum-identity-kit-background-overlay);
}

.cancel-modal-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--ethereum-identity-kit-background);
  color: var(--ethereum-identity-kit-text-primary);
  border-radius: 10px;
  padding: 20px;
  width: 380px;
  height: 200px;
  font-family: 'Inter', sans-serif;
}

.dark .cancel-modal-container {
  background-color: var(--ethereum-identity-kit-background-dark);
  color: var(--ethereum-identity-kit-text-primary-dark);
}

.cancel-modal-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  padding: 4px;
  margin: 0;
}

.cancel-modal-description {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

.cancel-modal-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cancel-modal-cancel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: calc(50% - 4px);
  background-color: var(--ethereum-identity-kit-text-neutral-dark);
  border: none;
  border-radius: 4px;
  height: 54px;
  font-size: 16px;
  font-weight: 600;
  color: var(--ethereum-identity-kit-text-primary-dark);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cancel-modal-cancel-button:hover {
  opacity: 0.75;
}

.dark .cancel-modal-cancel-button {
  background-color: var(--ethereum-identity-kit-text-neutral);
}

.cancel-modal-confirm-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: calc(50% - 4px);
  background-color: var(--ethereum-identity-kit-deletion);
  border: none;
  border-radius: 4px;
  height: 54px;
  font-size: 16px;
  font-weight: 600;
  color: var(--ethereum-identity-kit-text-primary-dark);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.cancel-modal-confirm-button:hover {
  opacity: 0.75;
}
