.notification-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 8px;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  background-color: var(--ethereum-identity-kit-neutral);
  position: relative;
}

.notification-item.new {
  background-color: var(--ethereum-identity-kit-neutral-hover);
}

.follow,
.unblock,
.unmute {
  background-color: #ffe06644;
}

.unfollow,
.block,
.mute {
  background-color: #ff7c7c44;
}

.tag,
.untag {
  background-color: #d0d0d044;
}

.notification-item-icon {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.notification-item-icon.follow,
.notification-item-icon.unblock,
.notification-item-icon.unmute {
  background-color: #ffe066;
}

.notification-item-icon.unfollow,
.notification-item-icon.block,
.notification-item-icon.mute {
  background-color: #ff7c7c;
}

.notification-item-icon.tag,
.notification-item-icon.untag {
  background-color: #d0d0d0;
}

.notification {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  width: calc(100% - 40px);
}

.notification-item-avatars {
  display: flex;
  width: fit-content;
}

.notification-item-content {
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: 100%;
}

.notification-item-description {
  font-size: 14px;
  color: var(--ethereum-identity-kit-text-neutral);
  max-width: calc(100% - 100px);
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.notification-item-time {
  font-size: 0.75rem;
  color: var(--ethereum-identity-kit-text-neutral);
}

.notification-item-actions {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.notification-item-button {
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  background-color: var(--ethereum-identity-kit-primary);
  color: var(--ethereum-identity-kit-text-light);
}

.notification-item-button:hover {
  background-color: var(--ethereum-identity-kit-primary-hover);
}

.notification-item-button.secondary {
  background-color: var(--ethereum-identity-kit-neutral-hover);
  color: var(--ethereum-identity-kit-text-primary);
}

.dark .notification-item-button.secondary {
  background-color: var(--ethereum-identity-kit-neutral-hover-dark);
}
