.list-settings-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  background-color: var(--ethereum-identity-kit-neutral-light);
  padding: 16px 12px;
  border-radius: 4px;
}

.dark .list-settings-container {
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
}

.list-settings-title {
  font-size: 18px;
  font-weight: 600;
}

.list-settings-items-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.list-setting-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-right: 4px;
}

.list-setting-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  text-transform: capitalize;
}

.list-setting-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  border-radius: 4px;
  background-color: var(--ethereum-identity-kit-background);
}

.dark .list-setting-icon-container {
  background-color: var(--ethereum-identity-kit-background-dark);
}

.list-setting-description {
  font-size: 14px;
  font-weight: 400;
  color: var(--ethereum-identity-kit-text-secondary);
}

.dark .list-setting-description {
  color: var(--ethereum-identity-kit-text-secondary-dark);
}

.list-account-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
