.profile-list-row {
  display: flex;
  width: 100%;
  min-height: 45px;
  align-items: center;
  justify-content: space-between;
}

.profile-list-row-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: calc(100% - 66px);
}

.profile-list-row-name {
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clickable {
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.clickable:hover {
  opacity: 0.8;
  scale: 1.05;
}

.profile-list-row-details {
  display: flex;
  align-items: center;
  gap: 12px;
  width: calc(100% - 110px);
}

.profile-list-row-details p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  max-width: 216px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .profile-list-row {
    width: 100%;
  }
  .profile-list-row-details p {
    max-width: calc(100vw - 110px - 45px - 32px - 40px);
  }
}
