.profile-list-row {
  display: flex;
  width: 100%;
  min-height: 68px;
  align-items: center;
  position: relative;
  padding: 0px 20px;
  justify-content: space-between;
}

.profile-list-row.has-header-image {
  min-height: 80px;
}

.profile-list-row-header-image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  object-fit: cover;
}

.profile-list-row-name-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  width: calc(100% - 120px);
}

.profile-list-row-name {
  width: fit-content;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  z-index: 1;
}

.clickable {
  cursor: pointer;
  transition: all 0.2s;
}

.clickable:hover {
  scale: 1.1;
}

.profile-list-row-details {
  display: flex;
  align-items: center;
  gap: 12px;
  width: calc(100% - 110px);
}

.profile-list-row-details p {
  margin: 0;
  font-size: 18px;
  font-weight: 700;
  max-width: 216px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .profile-list-row {
    width: 100%;
    padding: 0px 12px;
  }

  .profile-list-row-details p {
    max-width: calc(100vw - 250px);
  }
}
