.clock {
  position: relative;
  border-radius: 50%;
  border: 2px solid;
  position: relative;
}

.clock-hand-minute {
  position: absolute;
  width: 0px;
  border-left: 2px solid;
  animation-duration: 3s;
  border-radius: 2px;
}

.clock-hand-hour {
  position: absolute;
  width: 0px;
  border-left: 2px solid;
  animation-duration: 100s;
  border-radius: 2px;
}

.clock-hand-minute,
.clock-hand-hour {
  transform-origin: 0 95%;
  animation-name: dial;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.clock-circle {
  position: absolute;
  top: 42.5%;
  left: 42.5%;
  background-color: #000;
  height: 15%;
  width: 15%;
  border-radius: 50%;
}

@keyframes dial {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
