.profile-card {
  width: 350px;
  position: relative;
  text-align: center;
  border-radius: 4px;
  padding: 54px 16px 10px 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
  color: var(--ethereum-identity-kit-text-primary);
  background-color: var(--ethereum-identity-kit-background);
  box-sizing: border-box;
}

.dark-profile-card {
  color: var(--ethereum-identity-kit-text-primary-dark);
  background-color: var(--ethereum-identity-kit-background-dark);
}

.dark .profile-card {
  color: var(--ethereum-identity-kit-text-primary-dark);
  background-color: var(--ethereum-identity-kit-background-dark);
}

.profile-avatar-container {
  display: flex;
  flex-direction: row;
  align-items: end;
  width: 100%;
  justify-content: space-between;
  gap: 12px;
}

.profile-card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.profile-name-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  align-items: center;
  gap: 8px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.profile-name {
  margin-top: 2px;
  font-size: 22px;
  font-weight: 700;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: transform 0.2s ease;
  padding: 0;
  margin: 0;
}

.profile-name[enable-hover='true']:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.profile-status {
  font-size: 14px;
  font-weight: 500;
  background-color: var(--ethereum-identity-kit-neutral-light);
  color: var(--ethereum-identity-kit-text-primary);
  font-style: italic;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 2px 0;
  text-align: left;
}

.dark .profile-status {
  color: var(--ethereum-identity-kit-text-primary-dark);
  background-color: var(--ethereum-identity-kit-neutral-light-dark);
}

.profile-bio {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  text-align: left;
  max-width: 90%;
}

.profile-bio-loading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  margin: 0;
}

.common-followers-container {
  width: 100%;
  margin: 0 auto;
}

.dark .common-followers-text-container {
  color: var(--ethereum-identity-kit-text-secondary-dark);
}
