* {
  padding: 0;
  margin: 0;
}

.profile-card {
  width: 300px;
  position: relative;
  text-align: center;
  border-radius: 12px;
  padding: 36px 8px 14px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.profile-card-dark {
  color: #fff;
  background-color: #333;
  border: 3px solid #71717a;
}

.profile-card-light {
  color: #000;
  background-color: #fff;
  border: 3px solid #e4e4e7;
}

.profile-card-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1;
}

.profile-name-container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.profile-name {
  margin-top: 2px;
  font-size: 22px;
  font-weight: 700;
  max-width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  transition: transform 0.2s ease;
}

.profile-name[enable-hover='true']:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.profile-bio {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  padding: 0 12px;
}

.profile-bio-link {
  text-decoration: none;
}

.profile-card-dark .profile-bio-link {
  color: rgb(96 165 250);
}

.profile-card-dark .profile-bio-link:hover {
  color: rgb(147 197 253);
}

.profile-card-light .profile-bio-link {
  color: rgb(0, 89, 255);
}

.profile-card-light .profile-bio-link:hover {
  color: rgb(37 99 235);
}

.profile-bio-loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  margin: 0;
}

.profile-bio-text {
  opacity: 0.8;
}

.profile-stats-container {
  display: flex;
  align-items: center;
  gap: 36px;
}

.profile-card-common-followers {
  width: 100%;
  padding: 12px 0 0 16px;
}

.profile-card-dark .common-followers-text-container {
  color: #aaa;
}
